<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/760c4363-d236-4d69-b498-150016df8a51/resourceGroups/DXWebApp20180129121443ResourceGroup/providers/Microsoft.Web/sites/JenkinsDXApp</ResourceId>
    <ResourceGroup>DXWebApp20180129121443ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://jenkinsdxapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>jenkinsdxapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>JenkinsDXApp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$JenkinsDXApp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADDomain>alternadxteam.onmicrosoft.com</ADDomain>
    <EnableADPublish>true</EnableADPublish>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:alternadxteamappdbserver.database.windows.net,1433;Initial Catalog=AlternaDxTeamApp_db;User ID=azsqladmin@alternadxteamappdbserver;Password=DevTe@m!2018" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DXWebApp.Models.ApplicationDbContext, DXWebApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADAppIDUri>https://alternadxteam.onmicrosoft.com/WebApp-jenkinsdxapp.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADUsesOwinOrOpenIdConnect>true</ADUsesOwinOrOpenIdConnect>
    <ADClientAPPID>e64018a6-bb51-4d3f-b368-02e19da8fd6c</ADClientAPPID>
    <ADClientPassword>8JxjFVfLCUYUvb3Sla0JzM6DHh1FUXuZf0TzFThbKuM=</ADClientPassword>
    <ADReplyUrl>https://jenkinsdxapp.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>0198b3a7-c432-4d71-926f-e39cdad7d97b</ADTenantId>
    <ADPostLogoutRedirectUri>https://jenkinsdxapp.azurewebsites.net/</ADPostLogoutRedirectUri>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:alternadxteamappdbserver.database.windows.net,1433;Initial Catalog=AlternaDxTeamApp_db;User ID=azsqladmin@alternadxteamappdbserver;Password=DevTe@m!2018</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>